{% extends 'base.html' %}

{% load static %}

  {% block title%}About Us{% endblock title%}

{% block content %}

<!-- About Start -->
<div class="container-fluid overflow-hidden py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-xl-5 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="bg-light rounded">
                    <img src="{% static 'img/congregation.JPG' %}" class="img-fluid w-100" style="margin-bottom: -7px;" alt="Image">
                    <img src="{% static 'img/2.JPG' %}" class="img-fluid w-100 border-bottom border-5 border-primary" style="border-top-right-radius: 300px; border-top-left-radius: 300px;" alt="Image">
                </div>
            </div>
            <div class="col-xl-7 wow fadeInRight" data-wow-delay="0.3s">
                <h5 class="sub-title pe-3">THE CHRIST RESURRECTION CHAPEL</h5>
                <h1 class="display-5 mb-4">TCRC</h1>
                <p class="mb-4">
                    The Christ Resurrection Chapel, FMCK held her first service 20 years ago on the (insert date) ………………, 
                    with 5 people in attendance, on an Easter Sunday (Resurrection Sunday). 
                    From humble beginnings, the TCRC has grown over the years, and the Church stands firm by the grace of the Almighty God. 
                    Initially known as the Christian Chapel, it was subsequently aptly named 
                    “The Christ Resurrection Chapel, FMCK” (TCRC) and incorporated in 
                    2003 (a symbolic recognition of her beginnings)
                <br>
                </p>
                <div class="row gy-4 align-items-center">
                    <div class="col-12 col-sm-12 align-items-center">
                        <!-- <i class="fas fa-map-marked-alt fa-3x text-secondary"></i> -->
                        <div class="col-12 col-sm-12">
                            <h5 >OUR VISION</h5>
                        </div>
                        <p>
                            The TCRC is a place of discovery, recovery, and fulfilment in the kingdom 
                            of God. The Church is fulfilling Christ’s mandate of reaching the lost, 
                            making disciples of men, and equipping the body of Christ. 
                            he TCRC regularly conducts medical outreaches to communities within and 
                            outside Nasarawa state, aside in-reaches within the hospital.
                        </p> <br>
                    </div>
                    <div class="col-12 col-sm-12 align-items-center">
                        <!-- <i class="fas fa-map-marked-alt fa-3x text-secondary"></i> -->
                        <div class="col-12 col-sm-12">
                            <h5>WHO WE ARE</h5>
                        </div>
                        <p>
                            The TCRC is a community-oriented, loving, and compassionate church. 
                            We place Christ first and depend on the Holy Spirit for empowerment and 
                            upliftment. At the TCRC, we give attention to prayer and ministry of the 
                            word. (Acts 6: 50). We are committed to love the Lord, the brethren, 
                            and our neighbors. (Matt 22:37-39, 1 Peter 1: 22). We praise God for his 
                            presence and impartation at our weekly meetings and special activities. 
                            Our weekly meetings and calendar of activities is available for viewing 
                            on our website.
                        </p> <br>
                    </div>
                    <div class="col-12 col-sm-12 align-items-center"></div>
                        <!-- <i class="fas fa-map-marked-alt fa-3x text-secondary"></i> -->
                        <div class="col-12 col-sm-12">
                            <h5>OUR LOVE CALL</h5>
                        </div>
                        <p>
                            We welcome you to worship with us, it would be a life-changing experience. 
                            You can also access our sermons and special programs via the links provided below.
                        </p> <br>
                        <p></p>
                            God bless you.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

{%endblock%}