{% extends 'base.html' %}

{% load static %}

  {% block title%}TCRC|Home{% endblock title%}

{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>


<style>
    body{
	margin:0;
	padding:0;
}
/* .container{
	width:90%
	margin:10px auto;
} */
.portfolio-menu{
	text-align:center;
}
.portfolio-menu ul li{
	display:inline-block;
	margin:0;
	list-style:none;
	padding:10px 15px;
	cursor:pointer;
	-webkit-transition:all 05s ease;
	-moz-transition:all 05s ease;
	-ms-transition:all 05s ease;
	-o-transition:all 05s ease;
	transition:all .5s ease;
}

.portfolio-item{
	/*width:100%;*/
}
.portfolio-item .item{
	/*width:303px;*/
	float:left;
	margin-bottom:10px;
}

</style>

<section class="contact-us" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 align-self-center">
            <!--image html sets starts here  -->
            <div class="container">
                <div class="row">
                   <div class="col-lg-12 text-center my-2">
                       <h4>TCRC IMAGE COLLECTION GALLERY</h4>
                   </div>
                </div>
                <div class="portfolio-menu mt-2 mb-4" style="background-color: aliceblue;">
                   <ul>
                    <li class="btn btn-outline-dark active" data-filter="*">All</li>
                    {% for collection in collections %}
                      <li class="btn btn-outline-dark text" data-filter=".{{ collection.id }}">{{ collection }}</li>
                    {% endfor %}
                   </ul>
                </div>
                <div class="portfolio-item row">
                    {% for image in images %}
                        <div class="item {{ image.collection.id }} col-lg-3 col-md-4 col-6 col-sm">
                            <a href="{% url 'image_detail' image.id %}" class="fancylight popup-btn" data-fancybox-group="light"> 
                            <img class="img-fluid" src="{{ image.image.url }}" alt="">
                            </a>
                        </div>
                    {% endfor %}
                </div>
             </div>
            <!-- image html sets ends here -->
        </div>
      </div>
    </div>
    {% include 'base_files/footer.html' %}
  </section>

  <script>
            // $('.portfolio-item').isotope({
        //  	itemSelector: '.item',
        //  	layoutMode: 'fitRows'
        //  });
        $('.portfolio-menu ul li').click(function(){
         	$('.portfolio-menu ul li').removeClass('active');
         	$(this).addClass('active');
         	
         	var selector = $(this).attr('data-filter');
         	$('.portfolio-item').isotope({
         		filter:selector
         	});
         	return  false;
         });
         $(document).ready(function() {
         var popup_btn = $('.popup-btn');
         popup_btn.magnificPopup({
         type : 'image',
         gallery : {
         	enabled : true
         }
         });
         });
  </script>

{% endblock content %}