{% extends 'base.html' %}

{% load static %}

  {% block title%}Membershp{% endblock title%}

{% block content %}
<br>
<div class="container">
    <div class="row g-2">
        <div class="col-md-3 text-center">
            <div class="col-lg-12">
                <h4>Profile Image</h4>
            </div>
            <br>
            <div class="col-md-12">
                {% if member.photo %}
                    <img class="dp" src="{{member.photo.url}}" alt="">
                {% else %}
                    <img class="dp" src="{% static 'assets/images/users/user_default.png' %}" alt="">
                {% endif %}
            </div>
        </div>
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-9">
            <form method="POST" enctype="multipart/form-data">{% csrf_token%}
            <div style="text-align: center; color: green;">{{ msg }}</div>
            <div class="col-lg-12 text-center">
                <h4>Update Profile</h4>
            </div>
            <br>
            <div class="row g-4">
                <div class="col-lg-12 col-xl-4">
                    <div class="form-floating">
                        <input type="text" value="{{member.user.first_name}}" name="firstname" class="form-control">
                        <label for="name">Your First Name</label>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-4">
                    <div class="form-floating">
                        <input type="text" name="lastname" class="form-control" value="{{member.user.last_name}}">
                        <label for="email">Your Last Name (Surname)</label>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-4">
                    <div class="form-floating">
                        <input type="text" value="{{member.othernames}}" name="othernames" class="form-control">
                        <label for="phone">Other Names</label>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-4">
                    <div class="form-floating">
                        <input type="phone" value="{{member.phone}}" name="phone" class="form-control">
                        <label for="project">Your Phone</label>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-4">
                    <div class="form-floating">
                        <input type="email" value="{{member.user.email}}" name="email" class="form-control" >
                        <label for="project">Your Email</label>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-4">
                    <div class="form-floating">
                        <select name="unit_dept" class="form-control" id="">
                        <option selected disabled value="">{{member.unit_dept.title}}</option>
                        {% for i in unit_depts %}
                            <option value="{{ i.id }}">{{ i.title }}</option>
                        {% endfor %}
                        </select>
                        <label for="project">Select your Unit (Optional)</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating">
                        <input type="text" value="{{member.address}}" class="form-control" name="address">
                        <label for="subject">Your Address</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating">
                        <input type="file" multiple name="photo" class="form-control" id="subject" placeholder="Display Image">
                        <label for="subject">This image will be used as your DP on this site</label>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary w-100 py-3">Update Profile</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<br><br>

{%endblock%}