{% extends 'base.html' %}
{% load static %}

<!---strat-slider---->
{% include 'base_files/custom_js.html' %}

{% block content %}
<div class="main">
    <div class="wrap">  
        <div class="m_3"><span class="left_line"></span> Our Projects<span class="right_line"> </span></div>
        <div class="content-top">
           <div class="col_1_of_projects span_1_of_projects"><a href="#">
             <div class="view view-first">
              <img src="{% static 'images/pic3.jpg' %}" alt=""/>
                <div class="mask">
                  <h2>Hover Style #1</h2>
                  <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                   <a class="popup-with-zoom-anim" href="#small-dialog3"> <div class="info">Read More</div></a>
                       <div id="small-dialog3" class="mfp-hide">
                         <div class="pop_up2">
                               <img src="{% static 'images/pic3.jpg' %}"/ alt=""/>
                               <h3 class="m_4"><a href="#">augue duis dolore te feugait</a></h3>
                            <p class="m_5">Photography</p>
                         </div>
                       </div>
                  </div>
               </div> 
              <h3 class="m_4"><a href="#">augue duis dolore te feugait</a></h3>
              <p class="m_5">Photography</p>
            </a> </div>
           <div class="col_1_of_projects span_1_of_projects"><a href="#">
             <div class="view view-first">
              <img src="{% static 'images/pic6.jpg' %}" alt=""/>
                <div class="mask">
                  <h2>Hover Style #1</h2>
                  <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                   <a class="popup-with-zoom-anim" href="#small-dialog4"> <div class="info">Read More</div></a>
                       <div id="small-dialog4" class="mfp-hide">
                         <div class="pop_up2">
                               <img src="{% static 'images/pic6.jpg' %}"/ alt=""/>
                                <h3 class="m_4"><a href="#">augue duis dolore te feugait</a></h3>
                              <p class="m_5">Branding</p>
                         </div>
                       </div>
                  </div>
               </div> 
              <h3 class="m_4"><a href="#">augue duis dolore te feugait</a></h3>
              <p class="m_5">Branding</p>
            </a> </div>
           <div class="col_1_of_projects span_1_of_projects"><a href="#">
             <div class="view view-first">
              <img src="{% static 'images/pic5.jpg' %}" alt=""/>
                <div class="mask">
                  <h2>Hover Style #1</h2>
                  <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                   <a class="popup-with-zoom-anim" href="#small-dialog5"> <div class="info">Read More</div></a>
                       <div id="small-dialog5" class="mfp-hide">
                         <div class="pop_up2">
                               <img src="{% static 'images/pic5.jpg' %}"/ alt=""/>
                                <h3 class="m_4"><a href="#">augue duis dolore te feugait</a></h3>
                             <p class="m_5">Web Design</p>
                         </div>
                       </div>
                  </div>
               </div> 
              <h3 class="m_4"><a href="#">augue duis dolore te feugait</a></h3>
              <p class="m_5">Web Design</p>
            </a> </div>
           <div class="col_1_of_projects span_1_of_projects"><a href="#">
             <div class="view view-first">
              <img src="{% static 'images/pic4.jpg' %}" alt=""/>
                <div class="mask">
                  <h2>Hover Style #1</h2>
                  <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                   <a class="popup-with-zoom-anim" href="#small-dialog6"> <div class="info">Read More</div></a>
                       <div id="small-dialog6" class="mfp-hide">
                         <div class="pop_up2">
                               <img src="{% static 'images/pic4.jpg' %}"/ alt=""/>
                                <h3 class="m_4"><a href="#">augue duis dolore te feugait</a></h3>
                              <p class="m_5">Marketing</p>
                         </div>
                       </div>
                  </div>
               </div> 
              <h3 class="m_4"><a href="#">augue duis dolore te feugait</a></h3>
              <p class="m_5">Marketing</p>
            </a> </div>
          <div class="clear"></div>
        </div>
    </div>
</div>
{% endblock content %}